.ice-image {
    display: none;
}

#game-canvas {
    margin: auto;
    border: 3px solid white;
    border-radius: 3px;
    /* transition: background 2s ease-in-out; */
    /* linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) */
    
}

#canvas-container {
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#game-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,92,175, 0.3);
    transition:all 1s ease-in-out;
}

#gradient-transition{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(34,193,195, 0.6) 0%, rgba(0,0,0,0) 50%);
    z-index: 1;
}